.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-200);
    background-color: var(--bg-200);
    width: 100%;
}

.footer_top {
    width: 90%;
    border-bottom: 1px solid var(--bg-300);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top_left {
    width: 30%;
    text-align: justify;
}

.top_left h1 {
    color: var(--primary-100);
    font-weight: 400;
}

.top_right {
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top_right p {
    color: var(--primary-100);
    text-align: center;
}

.top_right ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1em;
    width: 100%;
}

.top_right ul li {
    font-size: 20px;
    text-align: center;
    transition: 0.2s ease-in-out;
    color: var(--primary-100);
}
.top_right ul li:hover {
    color: var(--text-200);
    cursor: pointer;
}

.footer_bottom {
    color: var(--text-200);
    font-size: 12px;
}

.footer_bottom span {
    color: var(--primary-100);
}

@media (max-width: 600px) {
    .footer_top {
        flex-direction: column;
    }

    .top_left,
    .top_righ {
        width: 100%;
    }
}