@import url('/src/styles/pallet.css');

.container{
    background-color: var(--bg-200);
    padding: 2em;
    margin: 0;
}
/*Cards*/
.card {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--bg-300);
}

.image {
    width: 100%;
    display: block;
    filter: none; /* Remove o efeito de blur ao passar o mouse sobre o card */
    transition: filter 0.4s ease;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: background-color 0.4s ease;
}
.card:hover .overlay {
    cursor: pointer;
    background-color: rgba(255, 187, 0, 0.05); /* Amarelo transparente */
}