.main {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.about {
    margin: 5em auto 0;
    color: var(--text-200);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    padding: 2em 1em;
    border-radius: 10px;
    background-color: var(--bg-200);
    text-align: center;
    /* box-shadow: 0 0 10px var(--primary-100); */
}

.about p {
    width: 70%;
    padding-right: 5em;
}
.about p span{
    font-size: 22px;
    color: var(--primary-100);
}
.about div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2em;
}
.about div p{
    width: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
    column-gap: 1em;
}
.about div p a{
    color: var(--primary-100);
    text-decoration: none;
    transition: 0.2s ease-in-out;
}
.about div p a:hover{
    color: var(--text-200);
}

.about img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    overflow: hidden;
    object-fit: cover;
}
@media (max-width: 800px){
    .about{
        width: 85%;
        flex-direction: column-reverse;
    }
    .about p {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .about div{
        width: 100%;
    }
    .about div p{
        margin-bottom: 1.5em !important;
    }
    .main{
        padding-bottom: 3em;
    }
}