@import url('/src/styles/pallet.css');
.header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-200); 
}

.header img {
    width: 220px;
}

.list {
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: end;
    padding: 0;
    gap: 0.5em;
}

.header li a {
    color: var(--text-200);
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 10px;
    font-weight: 700;
}

.header li a:hover {
    color: var(--primary-100);
    transition: all 0.3s;
}

.header li a:hover:after {
    width: 100%;
}

.menu_icon {
    font-size: 40px;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
    display: none;
}

.menu_icon:hover {
    cursor: pointer;
}

@media (max-width: 700px) {
    .menu_icon {
        display: block;
    }

    .header {
        flex-direction: column;
    }

    .list {
        display: flex;
        flex-wrap: wrap; /* Define o layout em duas colunas */
        justify-content: center; /* Centraliza os itens na linha */
        padding: 0;
        margin: 0 auto;
        overflow: hidden; /* Para garantir que o conteúdo oculto não seja exibido */
        max-height: 0; /* Começa com altura zero para ocultar a lista */
        animation: slideDown 1s ease forwards; /* Aplicando a animação slideDown */
    }
    

    .list.open {
        max-height: 100%; /* Definindo a altura máxima para mostrar a lista completa */
        animation: slideUp 0.5s ease forwards;
    }

    .list li {
        width: 50%; /* Define a largura para ocupar metade do espaço em telas menores */
        height: 2em;
    }

    .list li a {
        width: 100%; /* Garante que os links ocupem toda a largura do item da lista */
    }
}

@keyframes slideDown {
    from {
        max-height: 0;
        /* Começa com altura zero */
    }

    to {
        max-height: 500px;
        /* Termina com uma altura específica */
    }
}

@keyframes slideUp {
    from {
        max-height: 500px;
        /* Começa com uma altura específica */
    }

    to {
        max-height: 0;
        /* Termina com altura zero */
    }
}
