.header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5em;
    
}
.header h1{
    width: 50%;
    display: flex;
    align-items: center;
    margin: 0;
}

.header h1 a{
    color: white;
    text-decoration: none;
}

.list{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    font-size: 21px;
    font-weight: 400;
    align-items: center;
    margin: 0;
}
.list li{
    height: 3em;
    margin-right: 0.5em;
    width: 100%;

}
.header li a{
    color: rgb(238, 238, 238);
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header li a:hover{
    cursor: pointer;
    border-bottom: 2px solid;
    border-color: rgb(197, 161, 0);
}