.container{
    width: 85vw;
    background-color: rgba(88, 88, 88, 0.301);
    box-shadow: 0 0 4px rgb(255, 187, 0);
    border-radius: 10px;
    padding: 1em;
}
swiper-container::part(bullet-active) {
    background-color: rgb(255, 0, 234);
}
swiper-container::part(swiper-button-next){
    background-color: rgb(255, 0, 234);
}