/* Reset CSS */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
    padding: 0;
    list-style: none;
}

/* Set core root defaults */
html {
    scroll-behavior: smooth;
}

/* Remove default padding */
figure {
    margin: 0;
}

/* Set default font family and size */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

/* Remove default button styling */
button {
    background-color: transparent;
    border: 0;
    outline: 0;
}

/* Remove default input styling */
input {
    border-radius: 0;
}

/* Remove default textarea styling */
textarea {
    border-radius: 0;
}
html,body, #root{
    background-color: #EFEFEF;
    height: 100%;
}